/* Color palette */
/* Main text color #757575 */
/* Secondary text color #212121 */
/* Accent #2196F3 */
:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --transition-info: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Index */

/* Body */

body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
}

/* Reseting styles */

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Container */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid skyblue; */
}

/* Visually hidden items */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* For every title */

.title {
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: center;
}

/* Main buttons */

.main-button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition-info);
}

.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black-color);
}

.site-header__logo {
  margin-right: 93px;
}

.logo__part {
  color: var(--accent-color);
}

/* Header */
.site-header {
  border-bottom: 1px solid #ececec;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1 14;
  letter-spacing: 0.02em;
}

.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  transition: color var(--transition-info);
}

.header-list__link--current {
  position: relative;
  color: var(--accent-color);
}

.header-list__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list__link--contacts {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent-color);
}

.site-header__header-list {
  margin-left: auto;
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-list__icon--envelope {
  width: 16px;
  height: 12px;
}

.header-list__icon--mobile-phone {
  width: 10px;
  height: 16px;
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bgi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: var(--secondary-background-color); */
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  padding-left: 32px;
  padding-right: 32px;
}

/* Company characteristics section */
.company-characteristics-section {
  padding-bottom: 0;
}

.company-characteristics-list {
  display: flex;
  column-gap: 30px;
}

.company-characteristics-list-item {
  width: calc((100% - 3 * 30px) / 4);
}

.company-characteristics-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.03em;
}

.company-characteristics-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.company-characteristics-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--tertiary-background-color);
}

.company-characteristics-icon {
  height: 70px;
  width: 70px;
}

/* Company activities section */

.company-activities-list {
  display: flex;
  column-gap: 30px;
}

.company-activities-item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.company-activities-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.company-activities-text-background {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.company-activities-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Company team section */

.company-team {
  background-color: var(--tertiary-background-color);
}

.company-team-list {
  display: flex;
  column-gap: 30px;
}

.company-team-main-title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.company-team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.company-team-text {
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.company-team-list-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.company-team-text-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-netw-item {
  width: 44px;
  height: 44px;
}

/* Social networks */

.social-networks {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.social-netw-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: var(--main-text-color);
  transition: color var(--transition-info), background-color var(--transition-info);
}

.social-netw-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.social-netw-link:hover,
.social-netw-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.social-netw-icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

/* Company's constant partners section */

.company-partners-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.company-partners-list {
  display: flex;
  column-gap: 30px;
}

.company-partners-list-item {
  width: 170px;
  height: 92px;
}

.company-partners-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--main-text-color);
  transition: border var(--transition-info), color var(--transition-info);
}

.company-partners-link:hover,
.company-partners-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.company-partners-logo-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Footer */

.site-footer-container {
  display: flex;
  align-items: baseline;
  column-gap: 70px;
}

.main-logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.company-address {
  width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.company-address-item {
  display: block;
}

.company-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.company-address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-info);
}

.company-address-link:hover,
.company-address-link:focus {
  color: var(--accent-color);
}

.company-address-exact-address {
  color: var(--white-color);
}

.footer-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  transition: border var(--transition-info);
}

.subscribe-input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
}

.subscribe-input-button-wrapper {
  display: flex;
}

.subscribe-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  padding-right: 28px;
}

.subscribe-submit-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

/* Fiter buttons */

.site-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.site-filter-button {
  padding: 6px 22px;
  min-width: 73px;
  background-color: var(--tertiary-background-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--transition-info), box-shadow var(--transition-info),
    color var(--transition-info);
}

.site-filter-button:hover,
.site-filter-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

/* Work samples */
.work-samples {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.work-samples-list-item {
  width: calc(((100% - 2 * 30px) / 3));
  background-color: var(--white-color);
}

.work-samples-link {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--transition-info), transform var(--transition-info);
}

.work-samples-link:hover,
.work-samples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-samples-link:hover .work-samples-overlay,
.work-samples-link:focus .work-samples-overlay {
  transform: translateY(0);
}

.work-samples-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.work-samples-text-item {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work-samples-image {
  margin-left: auto;
  margin-right: auto;
}

.work-samples-text {
  line-height: 1.88;
  color: var(--main-text-color);
}

.work-samples-thumb {
  overflow: hidden;
  position: relative;
}

.work-samples-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-info);
}

.work-samples-overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-info), visibility var(--transition-info);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition: transform var(--transition-info);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  transition: color var(--transition-info);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-form-contacts-list {
  margin-bottom: 10px;
}

.modal-form-contact:not(:last-child) {
  margin-bottom: 10px;
}

.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-info);
}

.modal-input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
}

.modal-input:focus-within + .modal-icon {
  fill: var(--accent-color);
}

.modal-comment-input {
  display: block;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-info);
}

.modal-comment-input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-comment-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.38px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-checkbox-link {
  text-decoration: underline;
  position: relative;
  color: var(--accent-color);
}

.checkbox-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color var(--transition-info), border var(--transition-info);
}

.modal-checkbox-icon {
  width: 16px;
  height: 15px;
}

.modal-checkbox:checked + .checkbox-box {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox:focus + .checkbox-box {
  border: 2px solid var(--accent-color);
}

.modal-checkbox:checked:focus + .checkbox-box {
  outline: 2px solid var(--accent-color);
}

.modal-submit-button {
  display: block;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}
