.site-header {
  border-bottom: 1px solid #ececec;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-text-color;
  transition: color $transition-info;
}

.header-list__link--current {
  position: relative;
  color: $accent-color;
}

.header-list__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

.header-list__link--contacts {
  display: flex;
  align-items: center;
  color: $main-text-color;
}

.header-list__link:hover,
.header-list__link:focus {
  color: $accent-color;
}

.site-header__header-list {
  margin-left: auto;
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-list__icon--envelope {
  width: 16px;
  height: 12px;
}

.header-list__icon--mobile-phone {
  width: 10px;
  height: 16px;
}
